<% provide(:title, "ResetPassword") %>
<div class="medium-6 columns medium-offset-3">
    <h1> Reset Password</h1>
    <div class="callout">
        <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmation" %>
            <%= f.password_field :password_confirmation %>
            <%= f.submit "Update password", class: "button large" %>
        <% end %>
    </div>
</div>

