<%= provide(:title, "signUp") %>
<div class="medium-4 columns medium-offset-4">
    <div class="callout">
        <h1> Sign Up</h1>
        <%= form_for @user do |f|%>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name%>
            <%= f.label :email%>
            <%= f.email_field :email%>
            <%= f.label :password%>
            <%= f.password_field :password%>
            <%= f.label :password_confirmation%>
            <%= f.password_field :password%>
            <%# <%= recaptcha_tags %1> %>
            <%=f.submit  "signup", class: "button button large" %>
        <% end %>
    </div>
</div>
