<% provide(:title, @user.name)%>
<%= @user.name %>
<h3> List of the books </h3>
<% @books.each do |book| %>
    <%= book.ISBN %>
    <%= book.title %>
    <%= book.description %>
    <%= form_for current_user.leases.build do |f| %>
        <%= f.hidden_field :book_id, value: book.id %>
        <%= f.hidden_field :user_id %>
        <%= f.submit "Request" %></br>
        <% end %>
<% end %>

