<% provide(:title, @user.name)%>
<div class="row">
    <div class="medium-4 columns">
        <%= gravatar_for @user %>
        <h4>Hello, <%= @user.name %></h4>
        <h5> Welcome to the E-LIBRARY platform</h5>
    </div>
</div>
<div class="row">
    <div class="row">
        <div class="medium-8 columns">
            <%=form_tag user_path(current_user), method: :get do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
        </div>
        <div class="medium-4 columns">
            <%= submit_tag "Search", :name => nil, class: "button expanded " %>
        <% end %>
        </div>
    </div>
    <div class="medium-6 columns">
        <h3> List of the books available </h3>
        <table>
            <tr>
                <th>ISBN</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
            </tr>
            <% @books.each do |book| %>
                <% unless current_user.books.include? book %>
                    <tr>
                        <td><%= book.ISBN %></td>
                        <td><%= book.title %></td>
                        <td><%= book.description %></td>
                        <td><%= form_for @user.leases.build do |f| %>
                            <%= f.hidden_field :book_id, value: book.id %>
                            <%= f.hidden_field :user_id %>
                            <%= f.submit "Request", class: "button large" %></td>
                    </tr>
                <% end %>
                <% end %>
        <% end %>
        </table>
    </div>
    <div class="medium-6 columns">
        <h3>List of the borrowed books</h3>
        <table>
            <tr>
                <th>ISBN</th>
                <th>TITLE</th>
                <th>DESCRIPTION</th>
                <th>Due Date</th>
                <th> Charge Fee</th>
            </tr>
            <% @borrowed.each do |borrowed| %>
                <tr>
                    <td><%= borrowed.book.ISBN %></td>
                    <td><%= borrowed.book.title %></td>
                    <td><%= borrowed.book.description %></td>
                    <td> <%= remaining_days(borrowed) unless borrowed.due_date.nil? %></td>
                    <%# <td> <%= fine(borrowed)  %1></td> %>
                </tr>
            <% end %>
        </table>
    </div>
</div>
