<tr>
    <td><%= book.ISBN %></td>
    <td><%= book.title %></td>
    <td><%= book.description %></td>
    <td><%= book.quantity %></td>
    <td><% if logged_in?  %>
        <%= link_to "delete",book, method: :delete,
            data: { confirm: "You sure?" }%>
    <% end %></td>
</tr
