<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><strong><%= link_to "E-Libray", root_url%></strong></li>
        </ul>
    </div>

    <div class="top-bar-right">
        <ul class="dropdown menu" data-dropdown-menu>


            <li><%= link_to "Home", root_url %></li>
            <li><%= link_to "FAQ", faq_url %></li>
            <% if logged_in? %>
                <li><%= link_to "Users", users_path %></li>
                <% if admin_user? %>
                <li><%= link_to "books", books_url %></li>
                    <li><%= link_to "Add Book", new_book_path %></li>
                    <li><%= link_to "Requested Books", leases_path%>
                <% end %>
                <li class="dropdown menu">
                    <a >Account</a>
                    <ul class="menu vertical" >
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                        <li><%= link_to "Log out", logout_path, method: "delete" %></li>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Log in", login_path %></li>
            <% end %>
        </ul>
    </div>

</div>
