<div class="top-bar">
    <div class="top-bar-left">

        <ul class="dropdown menu" data-dropdown-menu>
            <li class="menu-text"><strong><%= link_to "E-Library", '#' %></strong>
                <li>
    <div class="top-bar-right">

                    <% if logged_in? %>

                        <%= link_to "Users", '#' %>
                        <ul class="menu vertical" >
                            <li><%= link_to "Profile", current_user %></li>
                            <li><%= link_to "Settings", '#' %></li>
                            <li><%= link_to "Log out", logout_path, method: "delete" %></li>

                        </ul>
                </li>
                <li><%= link_to "Home", root_url %></li>
                <li><%= link_to "FAQ", faq_url %></li>
        </ul>
    <% else %>
        <li><%= link_to "Log in", login_path %></li>
    <% end %>
    </div>
</div>
</div>

