<div class="top-bar">

    <div class="menu-text"><strong><%= link_to "E-Library", '#' %></strong>

        <div class ="top-bar-right">
            <ul class="menu horizontal">
            <li><%= link_to "Home", root_url %></li>
            <li><%= link_to "FAQ", faq_url %></li>
            <% if logged_in? %>

                <li><%= link_to "Users", '#' %></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Account <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" data-dropdown-menu>
                        <li><%= link_to "Profile", current_user %></li>
                        <li><%= link_to "Settings", '#' %></li>
                        <li class="divider"></li>
                        <li>
                            <%= link_to "Log out", logout_path, method: "delete" %>
                        </li>
                    </ul>
                </li>
            <% else %>
                <li><%= link_to "Log in", login_path %></li>
        <% end %>
        </ul>
    </div>
    </div>
</div>

