<!DOCTYPE html>
<html>
  <head>
      <title><%=yield(:title)%> | Learn it live it</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div class="row">
  <div class ="column">
  <% flash.each do |message_type, message| %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer'%>
  </div>
  </div>
  </body>
</html>
